@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Mantinia-Regular";
    src: url("/fonts/Mantinia-Regular.otf") format("opentype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Metropolis-Regular";
    src: url("/fonts/Metropolis-Regular.otf") format("opentype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ElMessiri-Regular";
    src: url("/fonts/ElMessiri-Regular.ttf") format("opentype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;   
}

body {
    font-family: "Metropolis-Regular";
}

.dark {
    @apply text-white;
}

.light {
    @apply text-[#222222];
}

.arabic {
    @apply font-[ElMessiri-Regular];
}

.mySwiper4 .swiper-slide {
    opacity: 0.4;
}
  
.mySwiper4 .swiper-slide-thumb-active {
    opacity: 1;
}

.mySwiper4 .swiper-button-prev, .swiper-button-next {
    --swiper-theme-color: #ffffff;
}

.borderStyles {
    @apply border text-white text-sm rounded-lg p-2.5 bg-transparent autofill:bg-yellow-200 backdrop-blur-lg
    border-[#0c2c24] placeholder-gray-400 focus:outline-none focus:border-white/30 hover:border-[#f9e686]/50 transition-all duration-200 ease-in-out;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    background-color: transparent;
    transition: background-color 5000s ease-in-out 0s;
}
 

